.container{
    position: relative;
    margin-top: 24px;
    .content{
        position: relative;
        text-align: center;
        img{
            border-radius: 8px;
            display: block;
            margin: 0 auto;
            transition: 0.2s linear;
            &:hover{
                transform: scale(1.05);
            }
        }
        .text{
            color: #fff;
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            bottom: 0;
            margin-bottom: 40px;

            h1{
                font-family: 'Oswald', sans-serif;
                font-size: 2.2rem;
            }
            span{
                max-width: 60%;
            }
        }
    }
}