.card{
    display: flex;
    .containerImg{
        overflow: hidden;
        border-radius: 6px;
        cursor: pointer;
        width: 100px;
        &:hover .cardImg{
            transform: scale(1.1);
        }
        .cardImg{
            transition: 0.2s linear;
            border-radius: 6px;
            width: 100%;
        }
    }
    .cardContent{
        margin-left: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 160px;
        span{
            font-weight: 600;
            font-size: 1.3rem;
        }
        p{
            font-size: 1.2rem;
            color: #727272;
            font-weight: 300;
        }
    }
}