@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&family=Roboto:wght@100;300;400;500;700&display=swap');
.nav{
    display:  flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    .navLogo{
        width: 80px;
    }
    .navList{
        display:  flex;
        margin: 24px 32px 24px 48px;

        .navItem{
            margin: 0 6px;
        }
    }
    .navBtn{
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        font-size: 1rem;
        background-color: #FFCC33;
        padding: 4px 12px;
        border-radius: 6px;
        display: flex;
        align-items: flex-end;
        .navBtnIcon{
            margin-right: 8px;
            display: flex;
            align-items: center;
        }
    }
}