.nav{
    position: relative;
    display:  flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    padding: 0 30px;
    box-shadow: 0 2px 8px hsl(0deg 0% 78% / 25%);
    z-index: 1000;
    .navLogo{
        width: 80px;
    }
    .navList{
        display:  flex;
        margin: 24px 32px 24px 48px;

        .navItem{
            margin: 0 12px;
            a{
                text-decoration: none;
                color: #000;
            }
        }
    }
    .navBtn{
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        font-size: 1rem;
        background-color: #FFCC33;
        padding: 4px 12px;
        border-radius: 6px;
        display: flex;
        align-items: flex-end;
        .navBtnIcon{
            margin-right: 8px;
            display: flex;
            align-items: center;
        }
    }
}